*{
  margin: 0;
  padding: 0;
}

.products-card {
  width: 300px;
 
}

.products-card img {
  object-fit: contain;
  
}

.products {
  box-shadow: rgba(167, 1, 145, 0.23) 0px 30px 30px -20px;
}

.admi-add-page form{
display: flex;
justify-content: space-between;
flex-direction: column;
font-size: 18px;
height: 300px;

}
