*{
  margin: 0;
  padding: 0;
}
.all-products{
  background-image: url(./image/background1.jpg)
}

.all-products h2 {
  padding-top: 40px;
 padding-bottom: 60px;
}

.products-card {
  width: 30%;
  margin-bottom: 55px;
  box-shadow: rgba(255, 0, 221, 0.23) 50px 50px 50px 50px;
}

.products-card img {
  object-fit: сover;
}

.products {
  display: flex;
  flex-wrap: wrap;
  column-gap: 55px;
}


.admi-add-page form{
display: flex;
justify-content: space-between;
flex-direction: column;
font-size: 18px;
height: 300px;

}

.admin-edit-page form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 18px;
  height: 300px;
}
.main-page{
  background: url(./image/background2.jpg);
}

.pagination-block{
  display: flex;
  justify-content: center;
}

@media all and (max-width: 1147px) {
  .products {
    justify-content: center;
  }
  
  .products-card {
    width: 40%;
  }
}

@media all and (max-width: 900px) {
  .products-card {
    width: 40%;
  }
}

@media all and (max-width: 700px) {
  .products-card {
    width: 70%;
  }

}
