@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.navbar-swip{
  position: sticky;
  top: 0;
  left: 0;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  color: white;
  background: rgb(240, 167, 179);
  box-shadow: rgba(167, 1, 145, 0.23) 0px 30px 30px -20px;
}

.navbar-logo{
  display: flex;
  padding-left: 50px;
}

.left-navbar{
  display: flex;

}

.left-navbar input {
  display: flex;
  margin-top: 5px;
  margin-left: 50px;
  outline: none;
}

input[type=text]:focus{
  border-color:rgb(30, 203, 255);
  box-shadow: 0 0 8px 0 rgb(30, 203, 255);;
}
.input-search{
  display: flex;
  height: 50px;
  width: 40px;
}
.input-search input{
  border: 2px solid #aaa;
  border-color:  rgb(240, 167, 179);
  border-radius: 3%;
  margin: 8px 0;
  outline: none;
  padding: 8px;
}

.logo {
  font-size: 30px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: capitalize;
}
.nav-links ul{
  text-decoration: none;
}

.hero {
  text-align: center;
  margin-top: 15%;
}

.hero h1 {
  text-align: center;
  font-size: 80px;
}

.mobile-menu-icon {
  display: none;
}

.btn-bay img{
  width: 400px;
}


button {
  border: none;
  text-decoration: none;
  font-size: 20px;
  background: none;
}
.text-navbar{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.search {
  margin-top: 10px;
}

.menu {
  display: none;
}

@media (max-width: 768px) {
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }

  .nav-links {
    display: none;
  }

  .menu {
    display: flex;
    margin-left: 500px;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: white;
  }

  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
  }
}

@media all and (max-width:768px) {
  .menu {
    display: flex;
    margin-left: 500px;
    flex-flow: column nowrap;
    position: fixed;
  }
  
  .mobile-nav ul {
    width: 45%;
    height: 135px;
    margin-top: 159px;
    padding-top: 30px;
    margin-left: 249px;
    background: rgb(240, 167, 179);
  }

  .mobile-nav li {
    padding-left: 10px;
    text-align:start;
    color: white;
  }
}

@media all and (max-width:650px) {
  .menu {
    display: flex;
    margin-left: 300px;
    flex-flow: column nowrap;
    position: fixed;
  }
}

